<%- include('include/_header') %>
    <div class="main-site">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">New User <i class="fa-solid fa-user"></i></span>
                </a>

            </div>
        </div>


        <form action="/" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i =0;i<users.length;i++) {%>
                    <tr>
                        <td><%=i+1%></td>
                        <td><%=users[i].name%></td>
                        <td><%=users[i].email%></td>
                        <td><%=users[i].gender%></td>
                        <td><%=users[i].status%></td>
                        <td>
                            <a href="/update-user/?id=<%=users[i]._id%>" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i></span>
                            </a>

                            <a href="" class="btn border-shadow delete">
                                <span class="text-gradient"><i class="fa-solid fa-circle-minus"></i></span>
                            </a>
                        </td>
                    </tr>
                    <%}%>

                </tbody>
            </table>
        </form>
    </div>
    </body>

    </html>